include ../svg-icon/svg-icon
doctype
html(lang='ru')
	head
		block head
			meta(charset='utf-8')
			meta(name='viewport' content='width=device-width,initial-scale=1')
			link(rel='stylesheet' href='css/style.min.css')
	body
		block content
			include ../../components/1_header/header
		script(src='js/libs/fslightbox.js')
		script(src='js/main.min.js')