svg( width='11.79', height='7.625', viewBox='0 0 11.79 7.625', xmlns='http://www.w3.org/2000/svg')&attributes(attributes)
	path(d='M1084.62,67.325l0.76-.651,6,7-0.76.652Zm6.79,6.965-0.82-.581,5-7,0.82,0.581Z', transform='translate(-1084.62 -66.688)')