@use 'sass:math';

:root{
	--color-master: #ffffff;
	--color-secondary: #4ABCEC;
	--color-bg-body:#032838;
	--ff-master: 'Avenir Next Cyr';
}

@import '../../node_modules/bootstrap/dist/css/bootstrap-grid';
@import '../../node_modules/bootstrap/dist/css/bootstrap-reboot';

@import '../font/stylesheet';

body{
	font-family: var(--ff-master), Arial, Helvetica, sans-serif;
	background-color: var(--color-bg-body);
}

@import 'mixins';


@import '../components/popup';
@import '../components/1_header/header';

